# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
.env

# IDE specific files
.vscode/
.idea/

# OAuth 2.0 credentials
client_secret*.json
token*.json

# Database files
*.db

# Logs and temporary files
*.log
*.tmp

# Project specific files
quota_usage.json
progress.json

# Mac DS_Store files
.DS_Store

# Takeout files
watch-history/
.DS_Store
